<h3> This is the index html erb file </h3>
<h2>You're Logged out! Log in to the Member Dashboard</h2>
<%= link_to "Sign in with Google", member_google_oauth2_omniauth_authorize_path %>

<h1>You're logged in! Welcome to the Member Dashboard!</h1>
<%= link_to "Sign Out", destroy_member_session_path %>