.dashItem {
    border: 5px solid #ddd;
    border-radius: 30px;
}

.mainContent {
    height: 80%;
}

.announcements {
    height: 70%;
    max-height: 70%;
    display: flex;
    flex-flow: column;
}

.about {
    height: 25%;
}

.announcement-scroll-box{
    flex-grow: 1;
    overflow-y: auto;
}